@import "tailwindcss";
:root {
  --bg-color: #f5efe5;
  --border-color: #592800;
  --text-color: #625656;
  --accent-1: #a9dadf;
  --accent-2: #f7c1cb;
  --accent-3: #ecc78f;

  --title-font: "Cherry Bomb One", cursive;
  --text-font: "Quicksand", sans-serif;
  --font-size: 16px;
}
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  color: var(--text-color);
}

body {
  font-family: var(--text-font);
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
}
button {
  @apply cursor-pointer text-white py-1 px-6 rounded-lg shadow-md focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-300;
  background: var(--accent-2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  @apply relative;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

a:hover::after {
  @apply w-full;
}
